<div class="container">

  <div class="d-flex mt-2 ">
    <div>
      <h5 class="p-2">Lista de Usuarios</h5>
    </div>
    <div class="ml-auto">
      <button class="btn btn-success my-2 my-sm-0" routerLink="/usuario-form">Nuevo Usuario</button>
    </div>
  </div>

    <table class="table table-hover table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Correo</th>
            <th scope="col">Contraseña</th>
            <th scope="col">Rol</th>
            <th scope="col">Fecha de Creación</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios?.reverse()">
            <th scope="row">{{usuario.id}}</th>
            <td>{{usuario.correo}}</td>
            <td>{{usuario.llave}}</td>
            <td>{{usuario.rol}}</td>
            <td>{{usuario.fecha_creacion}}</td>
            <td class="text-center">
                <button class="btn btn-outline-primary my-2 my-sm-0" (click)="selectedIdUser(usuario.id)">Editar</button>
                <button class="btn btn-outline-danger my-2 my-sm-0 ml-2" (click)="deleteUser(usuario.id)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>

</div>
